.aboutPage {
  position: relative;
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  border: none;
  background: #F5F7FA;
}

.aboutPage h1, h2, h3{
  color: black;
}

.title h1{
  color: black;
  padding-top: 1%;
  margin-bottom: 1%;
}

@keyframes slideDown {
  from {
    transform: translateY(2%); 
    opacity: 0.5;
  }
  to {
    transform: translateY(0); 
    opacity: 1;
  }
}

.profile { 
  background-color: #FFFFFF;
  margin: 2%;
  width: 400px;
  height: 30%; 
  animation: slideDown 0.5s ease forwards;
  align-items: center;
  justify-items: center;
}

.profile img { 
  object-fit: cover;
  aspect-ratio: 1/1;
  width: 100%;
}

.profileHorizontal {
  align-items: center;
  justify-content: center;
  display: flex; 
  flex-direction: row;
}

.profile button{
  background-color: black;
  width: 45px;
  margin-top: 2%;
  margin-right: 4%; 
  height: 45px; 
  border: none; 
  border-radius: 15%;
  transition: background-color 0.3s ease 0s; 
  align-self: flex-start;
}

.profile button:hover{
  background-color: #2474D6;
}

.verticalText {
  margin: 3%; 
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.test {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.modal {
  align-content: center;
  justify-content: center;
}