.aboutPage {
  position: relative;
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  border: none;
  background: #F5F7FA;
}

.aboutPage h1, h2, h3{
  color: black;
}

.title h1{
  color: black;
  padding-top: 1%;
  margin-bottom: 1%;
}

@keyframes slideDown {
  from {
    transform: translateY(2%); 
    opacity: 0.5;
  }
  to {
    transform: translateY(0); 
    opacity: 1;
  }
}

.profile { 
  margin: 3%;
  width: 20%;
  height: 30%; 
  animation: slideDown 0.5s ease forwards;
}

.profile img{
  width: 500px; 
  height: 500px; 
  box-shadow: 2px 2px 9px #000000; 
}

.profileHorizontal {
  align-items: center;
  justify-content: center;
  display: flex; 
  flex-direction: row;
}

.profile button{
  background-color: white;
  width: 50px;
  height: 50px; 
  border: none; 
  border-radius: 15%;
  box-shadow: 3px 3px 10px #000000; 
  transition: background-color 0.3s ease 0s; 
}

.profile button:hover{
  background-color: rgba(150, 150, 150);
}

.verticalText {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.test {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
