.aboutPage {
    background: linear-gradient(45deg, #0D2E63, #003B9F, #005eff,  #015EE2, #276FE6, #6A9CF1);
    padding: 2%; 
    
  }
  
  .aboutPage h1, h2{
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  .profile { 
    margin: 4%;
    width: 30%;
    height: 30%; 
  }
  
  .profile img{
    width: 100%;
    border-radius: 5%;
  }

  
  .profileHorizontal {
    align-items: center;
    justify-content: center;
    display: flex; 
    flex-direction: row;
  }

  .profile button{
    background-color: white;
    width: 50px;
    height: 50px; 
    border: none; 
    border-radius: 15%;
  }

  .profile button:hover{
    background-color: rgba(150, 150, 150);
  }
  
  .verticalText {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .test {
    display: flex; 
    justify-content: space-between;
    align-items: center;
  }
