.header {
  width:100%;
}

.header h1{
  position: absolute;
  font-size: 500%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.statement {
  color: white;
  background-color: white;
  height: 50vh;
  position: relative;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
}

.statement-text {
  background-color: #094fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  line-height: 4rem;
}

.statement-text h1{
  font-size: 300%;
  color: inherit;
}

.statement-text p{
  font-size: 150%;
  color: inherit;
}

.statement-image {
  background-color: white;
  display:flex;
  justify-content: center;
}

.statement-image {
  margin: 1.5rem 1.5rem
}

.section {
  height:50vh;
  color: white;
  position: relative;
  left: 0;
  right: 0;
  background-color: #276FE6;
}

.section h1{
  position: absolute;
  font-size: 300%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}