/* 
  #0D2E63, #003B9F, #015EE2, #276FE6, #6A9CF1
*/ 

* {
  box-sizing: border-box;
  margin:0; 
  padding:0;
  font-family: Roboto;
  /* The margin and padding might screw things up in the future */
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

body {
  margin: 0;
}

.container {
  text-align: center;
  background-color: black;
}

.nav {
  background-color: #003B9F;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: 1px solid rgb(255, 255, 255, .5);
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.site-title img {
  padding: 0 1rem;
  width:25%;
  height:25%;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  letter-spacing: 1px;
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li {
  border-radius: 15%;
}

.nav li:hover {
  background-color: #0D2E63;
}

.header {
  position: relative;
  background-image: url(./images/finance-hero.png);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height:70vh;
  width:100%;
}

.header h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}

.header img{
  width: 100%;
  left: 0;
  right: 0;
  display: block;
}

.statement {
  color: white;
  position: relative;
  left: 0;
  right: 0;
  background-color: #015EE2;
}

.statement p {
  font-size: 150%;
}

.section {
  color: white;
  position: relative;
  left: 0;
  right: 0;
  background-color: #276FE6;
}

.aboutPage {
  background:linear-gradient(0.125turn, #003B9F  , #6A9CF1);
  /* background: linear-gradient(217deg, rgba(255,0,0,.8), rgb(255, 166, 0, 0.1) 70.71%),
  linear-gradient(127deg, rgba(0,255,0,.8), rgba(255, 255, 0, 0.1) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.8), rgba(165,0,255,0.1) 70.71%); */
}

.profiles {
  margin: 0 5%;
  color: white;
  background-color: #0021ff;
  border-radius: 5%;
  width: 20%;
}

.profiles img{
  width: 100%;
  border-radius: 10%
}

.profilesHorizontal {
  align-items: center;
  justify-content: center;
  display: flex; 
  flex-direction: row;
}