/* 
  #0D2E63, #003B9F, #015EE2, #276FE6, #6A9CF1
*/ 

* {
  box-sizing: border-box;
  margin:0; 
  padding:0;
  font-family: Roboto;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

.body {
  margin: 0;
}

.container {
  text-align: center;
  background-color: black;
}

.header {
  position: relative;
  background-image: url(./images/finance-hero.png);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height:85vh;
  width:100%;
}

.header h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}

.header img{
  width: 100%;
  left: 0;
  right: 0;
  display: block;
}

.statement {
  color: white;
  position: relative;
  left: 0;
  right: 0;
  background-color: #015EE2;
}

.statement p {
  font-size: 150%;
}

.section {
  color: white;
  position: relative;
  left: 0;
  right: 0;
  background-color: #276FE6;
}

