/* 
  #0D2E63, #003B9F, #015EE2, #276FE6, #6A9CF1
*/ 

* {
  box-sizing: border-box;
  margin:0; 
  padding:0;
  font-family: Roboto;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

.body {
  margin: 0;
}

.container {
  text-align: center;
  background-color: black;
}
